<app-navbar></app-navbar>

<app-hero></app-hero>

<section id="home-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-5 column home-player">
        <div style="display: block; position: relative; max-width: 100%;">
          <div style="padding-top: 56.25%;">
            <iframe style="width: 100%; height: 100%; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px;border:none;" src="//players.brightcove.net/3047407010001/r1ZjWi4Ab_default/index.html?videoId=4328731797001" allowfullscreen webkitallowfullscreen
              mozallowfullscreen>
            </iframe>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-7 column">
        <h4>About Acorn TV</h4>
        <p>Acorn TV streams world-class mysteries, dramas, and comedies from Britain and beyond. Binge-watch a classic series or discover your new favorite show among dozens of programs available exclusively on Acorn TV. With thousands of hours of commercial-free
          programming and new shows added weekly, there’s always something to watch!</p>
        <a href="createaccount">Start free trial</a>
        <span>or </span>
        <a class="AcornAppLink" href="#" data-qs="/">Browse Shows</a>
      </div>
    </div>
  </div>
</section>

<section class="hidden-sm hidden-xs" id="callouts">
  <div class="container">
    <div class="col-md-12">
      <div class="col-md-6 wrapper">
        <div class="home-callout-content">
          <img src="//api.rlje.net/acorn/artwork/size/devices-icon-black?t=Icons">
          <h4>Watch Anywhere 24/7</h4>
          <p>Available on Roku, Apple TV, Samsung Smart TV, Amazon Fire TV, iPhone, iPad, web and more. </p>
        </div>
      </div>

      <div class="col-md-6 wrapper">
        <div class="home-callout-content ">
          <img id="home-trial-img" src="//api.rlje.net/acorn/artwork/size/signup-icon-black?t=Icons" style=" ">
          <h4>Always Something New</h4>
          <p>Thousands of hours of programming, including dozens of exclusive shows and the latest seasons of your favorite series. </p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>