<!--Progress Bar -->
<div class="container">
  <div class="progress-steps">
    <ul class="clearfix">
      <li [ngClass]="{'active': step == 1}">
        <a>Step 1</a>
      </li>
      <li [ngClass]="{'active': step == 2}">
        <a>Step 2</a>
      </li>
      <li [ngClass]="step == 3 ? 'active hidden-xs' : 'hidden-xs'">
        <a>Start Watching</a>
      </li>
      <li [ngClass]="step == 4 ? 'active visible-xs' : 'visible-xs'">
        <a>Finish</a>
      </li>
    </ul>
  </div>
</div>
<!--Progress Bar ENDS -->