/* NAVBAR */

.atv-logo {
    width: 154px;
    margin-top: 16px;
    margin-left: 11px;
}

.navbar {
    background: #161616;
    border: none;
    height: 56px;
    box-shadow: 0 0 10px -5px #050505;
    -moz-box-shadow: 0 0 10px -5px #000000;
    -webkit-box-shadow: 0 0 10px -5px #050505;
}

.navbar-nav {
    padding: 0px 0px 0px 20px;
    &>li>a {
        padding-top: 27px;
        font-family: 'source sans pro', sans-serif;
        letter-spacing: .17em;
        font-weight: 600;
        display: inline-block;
        text-transform: uppercase;
        font-size: 11px;
        color: #fff;
    }
}
.nav {
    margin-top: 0;
    &>li>a {
        &:hover {
            background: none;
        }
        &:focus {
            background: transparent;
        }
    }
}

.navbar-right-ul {
    float: right;
    width: 110px;
    margin-top: 0px;
}

.navbar-right {
    display: block;
    position: relative;
    float: right;
    margin-right: 0px;
    &>.log-in {
        color: #fff;
        display: inline-block;
        font-family: 'source sans pro', sans-serif;
        font-size: 10.3px;
        font-weight: 600;
        letter-spacing: 0.17em;
        margin-top: 20px;
        text-transform: uppercase;
        margin-right: 0px;
        margin-left: 10px
    }
    &>.free-month {
        color: #fff;
        display: inline-block;
        font-family: 'source sans pro', sans-serif;
        font-size: 13.8px;
        font-weight: 600;
        letter-spacing: 0.17em;
        margin-top: 15px;
        text-transform: uppercase;
        padding: 12px;
        background: rgba(11, 152, 184, 0.85) none repeat scroll 0 0;
        margin-left: 8px;
    }
}

@media (min-width: 768px) {
    /* NAVBAR */
    .navbar {
        height: 75px;
    }
    .navbar-nav>li>a {
        font-size: 13.8px;
    }
    .atv-logo {
        width: 215px;
        margin-top: 20px;
        margin-left: 0px;
    }
    .navbar-right-ul {
        width: 265px;
    }
    .navbar-right>.log-in {
        font-size: 13.8px;
        margin-top: 27px;
        margin-left: 32px
    }
}