/* You can add global styles to this file, and also import other style files */

/* IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);
/* BASE CSS */

body {
    background: #161616;
    font-family: "oxygen", sans-serif;
    color: #222222;
    font-size: 14.5px;
    letter-spacing: .03em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #111111;
    font-weight: 400;
    letter-spacing: 0em;
    text-decoration: none;
    font-family: source sans pro;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 10px;
    margin-top: 10px;
}

a {
    cursor: pointer;
    color: inherit;
    font-family: "source sans pro", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: 0;
    &:hover {
        text-decoration: none;
        color: #e0e0e0;
    }
    &:focus {
        color: #fff;
        text-decoration: none;
        -moz-outline-style: none;
        outline: none;
        outline-style: none;
        background: transparent;
    }
}

p {
    font-family: oxygen, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: .02em;
    text-transform: none;
}

ul,
ol {
    font-size: 16px;
    margin-bottom: 10px;
    list-style: none;
    padding: 0;
}

li {
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
}

img {
    vertical-align: middle;
}

button {
    background: transparent;
    box-shadow: none;
    font-family: "source sans pro", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid #999;
    color: #666;
    font-size: 13.5px;
    margin-top: 15px;
    padding: 10px 12px;
    letter-spacing: .06em
}

body {
    background: #161616;
    font-family: oxygen, arial, sans-serif;
}

h4,
.h4 {
    font-size: 19.5px;
}

label {
    font-weight: 300;
    margin-left: 3px;
    position: relative;
}

/* LAYOUT */

.container {
    width: 96%;
    padding-left: 10px;
    padding-right: 10px;
}

/* PAGE TEMPLATE */

#page-wrap {
    padding: 70px 0 25px 0;
    text-align: center;
    background: #fff;
    h4 {
        font-family: "Oxygen", sans-serif;
        font-size: 18.5px;
        font-weight: 400;
        line-height: 37px;
        padding: 0px 5px;
        color: #404040;
        margin-bottom: 0px
    }
    h5 {
        color: #555;
        font-family: "Oxygen", sans-serif;
        margin-bottom: 10px;
        margin-top: 5px;
        font-size: 14.5px;
        line-height: 23px;
    }
    .signin-header {
        color: #810c0c;
    }
}

/* FORM TEMPLATE */

#form {
    max-width: 770px;
    margin: 0 auto;
    margin-top: 15px;
    .formhead {
        border-bottom: 1px solid #eee;
        font-size: 13.5px;
        margin-bottom: 15px;
        color: #111111;
        padding: 0 0 10px;
        position: relative;
        text-align: left;
        font-family: "Oxygen", sans-serif;
    }
    .help-form {
        bottom: 0;
        font-size: 13px;
        font-weight: normal;
        line-height: 24px;
        position: absolute;
        right: 0;
    }
    a {
        text-transform: none;
    }
    form {
        padding: 0 10px
    }
    label {
        font-size: 12.5px;
        text-align: left;
        display: block;
        color: #444444;
        font-weight: 400;
        margin-top: 10px;
        .help-input {
            color: #555555;
            font-weight: normal;
            position: absolute;
            right: 20px;
            font-size: 13px
        }
    }
    input {
        width: 100%;
        border-radius: 0px !important;
        box-shadow: none !important;
        padding: 6px;
        border: 1px solid #bbbbbb;
        -webkit-appearance: none;
        background: none;
    }
    button {
        background: #0b98b8;
        border: medium none;
        border-radius: 0;
        color: #fff;
        letter-spacing: 0.08em;
        margin: 20px auto 0;
        max-width: 200px;
        padding: 8px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 13px;
        text-shadow: none;
        &:hover {
            background: #0890af;
            -webkit-transition: .3s ease;
            -moz-transition: .3s ease;
            -o-transition: .3s ease;
            -ms-transition: .3s ease;
            transition: .3s ease;
        }
    }
    .checkbox input {
        width: auto;
        -webkit-appearance: checkbox;
        ;
    }
    .radio,
    .checkbox {
        display: block;
        margin-bottom: 9px;
        margin-left: 25px;
        position: relative;
    }
    .legal {
        color: #666;
        font-size: 11.5px;
        line-height: 16px;
    }
    .signin-wrapper {
        margin-top: -5px
    }
    .signin-button {
        margin-top: 20px
    }
    .forgot-password {
        margin-top: 25px;
    }
    .forgot-password a {
        color: #810c0c;
        font-weight: 400;
        font-size: 14.5px;
        letter-spacing: 0em;
        &:hover {
            color: #5f0404
        }
    }
    .control-group.error {
        .control-label,
        .help-block,
        .help-inline {
            color: #a30f0f;
        }
        input,
        select,
        textarea {
            border-color: #a30f0f;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        }
        .alert {
            margin-bottom: 10px;
        }
        .alert-danger,
        .alert-error {
            color: #993333;
            background-color: #f2dede;
            border-color: #eed3d7;
            border-radius: 0;
            color: #b94a48;
        }
    }
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus {
        border-color: rgba(67, 211, 223, 0.8);
    }
}

.btn {
    -moz-user-select: none;
    background-image: none;
    background-color: #279da8;
    margin: 0 auto;
    border-radius: 0px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    display: block;
    font-size: 21px;
    font-weight: 400;
    height: 50px;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    &:hover {
        background-color: #31afbb;
    }
}

/* Forms and Input*/

label,
input,
button,
select,
textarea {
    font-size: 14px;
    line-height: 25px;
    margin-top: 5px;
}

.radio,
.checkbox {
    display: block;
    margin-bottom: 9px;
    margin-left: 20px;
    margin-top: 0;
    position: relative;
}

label {
    display: block;
    margin-bottom: 0px;
    .help-input {
        font-weight: normal;
        color: #a30f0f;
        position: absolute;
        right: 0;
    }
}

input {
    [type="email"],
    [type="url"],
    [type="search"],
    [type="tel"],
    [type="color"],
    .uneditable-input {
        color: #555555;
        display: inline-block;
        font-size: 14px;
        height: 20px;
        line-height: 20px;
        margin-bottom: 10px;
        padding: 4px 6px;
        vertical-align: middle;
    }
}

input {
    [type="text"],
    [type="password"] {
        margin-bottom: 0;
    }
}

textarea,
input {
    [type="text"],
    [type="password"],
    [type="datetime"],
    [type="datetime-local"],
    [type="date"],
    [type="month"],
    [type="time"],
    [type="week"],
    [type="number"],
    [type="email"],
    [type="url"],
    [type="search"],
    [type="tel"],
    [type="color"],
    .uneditable-input {
        background-color: #ffffff;
        border: 1px solid #cccccc;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    }
}

select,
textarea,
input {
    [type="text"],
    [type="password"],
    [type="datetime"],
    [type="datetime-local"],
    [type="date"],
    [type="month"],
    [type="time"],
    [type="week"],
    [type="number"],
    [type="email"],
    [type="url"],
    [type="search"],
    [type="tel"],
    [type="color"],
    .uneditable-input {
        border-radius: 4px;
        color: #555555;
        display: inline-block;
        font-size: 14px;
        height: 35px;
        line-height: 20px;
        margin-bottom: 15px;
        padding: 4px 6px;
        vertical-align: middle;
        border-radius: 0px;
    }
}

.input-block-level {
    box-sizing: border-box;
    display: block;
    min-height: 30px;
    width: 100%;
}

.form-wrap {
    margin: 0 auto;
}

.row-fluid .form-wrap {
    max-width: none;
}

input {
  [type="text"],
  [type="password"] {
    margin-bottom: 5px;
    &:focus {
      border-color: rgba(67, 211, 223, 0.8);
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(67, 211, 223, .6);
    }
  }
}

.help-form {
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 24px;
}

.req {
  color: #000;
  font-weight: bold;
  padding-left: 5px;
}

.help-inline {
  padding-left: 0;
  font-size: 14px;
  color: #810c0c;
  padding-left: 3px;
  font-weight: 200;
  text-align: left;
}

.more-info {
  margin: 25px 0;
}

.cc-logos label {
  display: inline-block;
  margin-right: 25px;
}

.tos {
  margin: 25px 0;
  .help-inline {
    display: block;
  }
}


#signin-form-insert {
  form {
    margin: 0;
  }
  .btn {
    margin-bottom: 0;
  }

  .control-group:last-child {
    margin-bottom: 0;
  }
}

.control-group.error {
  .control-label,
  .help-block,
  .help-inline {
      color: #a30f0f;
  }
  input,
  select,
  textarea {
    border-color: #a30f0f;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  }
}


.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: -20px;
  margin-top: 5px;
  position: absolute;
}

.alert {
  margin-bottom: 10px;
  margin-top: 30px;
  display: inline-block;
  // width: calc(100% - 30px);
  width: 100%;
}

.alert-danger,
.alert-error {
  color: #993333;
  background-color: #f2dede;
  border-color: #eed3d7;
  border-radius: 0;
  color: #b94a48;
  width: calc(100% - 60px);
}

@media (min-width: 370px) {
    #page-wrap h4 {
        font-family: "Oxygen", sans-serif;
        font-size: 23px;
        line-height: 32px;
        padding: 0px 5px;
        margin-bottom: 0px
    }
}

@media (min-width: 768px) {
    /* PAGE TEMPLATE */
    #page-wrap {
        padding: 115px 0 40px 0;
        h4 {
            font-size: 34px;
            margin-bottom: 15px;
        }
        h5 {
            font-size: 18px;
            margin-top: 20px;
            line-height: 30px;
            margin-bottom: 25px;
            font-weight: 400;
        }
    }
    p {
        font-size: 16px;
    }
    /* FORM TEMPLATE */
    #form {
        margin-top: 25px;
        form {
            padding: 0 15px
        }
        .formhead {
            border-bottom: 1px solid #d0d0d0;
            font-size: 16.5px;
            margin-bottom: 15px;
            padding: 0 0 6px;
            position: relative;
            text-align: left
        }
        .help-form {
            bottom: 0;
            font-size: 12.5px;
            font-weight: normal;
            line-height: 24px;
            position: absolute;
            right: 0;
        }
        label {
            font-size: 14.5px;
            margin-top: 15px;
        }
        button {
            font-weight: 600;
            max-width: 220px;
            padding: 8px;
            font-size: 14.5px;
        }
        .signin-wrapper {
            margin-top: -15px
        }
        .signin-button {
            margin-top: 35px
        }
        .forgot-password a {
            font-size: 17px;
        }
    }
}

@media all and (min-width: 1200px) {
    /* LAYOUT */
    .container {
        width: 92%;
    }
}

@media (min-width: 1450px) {
    /* LAYOUT */
    .container {
        width: 1350px;
    }
}
