<section id="footer">
  <div class="container">
    <div class="col-md-6 col-sm-6 column">
      <p>&copy;
        {{ year }} RLJ Entertainment, Inc. All Rights Reserved</p>
    </div>

    <div class="col-md-6 col-sm-6 column hidden-xs ">
      <ul>
        <li>
          <a class="open-dialog fancybox.iframe" href="https://api.rlje.net/acorntv-help/acorntv-privacy-policy.html" fancyboxable>Privacy Policy</a>
        </li>
        <li>
          <a class="open-dialog fancybox.iframe" href="https://api.rlje.net/acorntv-help/closed-captioning-policy.html" fancyboxable>Captioning Policy</a>
        </li>
      </ul>
    </div>
  </div>
</section>